<mat-card>
  <mat-card-header>
    <mat-card-title>{{ heroInfo.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ heroInfo.alter_ego }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    [src]="heroInfo | heroImage"
    [alt]="heroInfo.superhero || '-Without Hero Name-'"
  />

  <mat-card-content class="mt-2">
    <h4>{{ heroInfo.publisher }}</h4>
    <p>
      <strong>First apparition </strong> {{ heroInfo.first_appearance }}
      <br />
      <mat-chip-listbox>
        <mat-chip
          *ngFor="let name of heroInfo.characters.split(',') | slice : 0 : 4"
        >
          {{ name }}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>

  <mat-divider class="mt-2"></mat-divider>

  <mat-card-actions>
    <button
      mat-button
      color="primary"
      [routerLink]="['/heroes/edit', heroInfo.id]"
    >
      <mat-icon>edit</mat-icon>
      Edit
    </button>

    <span class="spacer"></span>

    <button mat-button [routerLink]="['/heroes/id', heroInfo.id]">
      <mat-icon>more_horiz</mat-icon>
      More info
    </button>
  </mat-card-actions>
</mat-card>
