<div class="flex flex-column">
  <span class="text-lg mb-4">Login</span>

  <mat-form-field>
    <mat-label>User</mat-label>
    <input type="text" matInput name="" id="" placeholder="User" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput name="" id="" placeholder="Password" />
  </mat-form-field>

  <button mat-button mat-flat-button color="primary" (click)="handleLogin()">
    <!-- para sacar lo íconos: https://fonts.google.com/icons?hl=es-419&icon.platform=android -->
    <mat-icon>save</mat-icon>
    Login
  </button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">Don't have account?</a>
  </div>

  <div class="flex flex-column gap-3 justify-content mt-5">
    <span class="text-center">Lazy Load and Preload Module(s)</span>
    <!-- haciendo click o haciendo hover sobre el botón llamará a la función -->
    <button
      (click)="preloadModule('heroes')"
      (mouseover)="preloadModule('heroes')"
      mat-button
      mat-flat-button
      color="primary"
    >
      Preload Heroes Module
    </button>

    <!-- haciendo click o haciendo hover sobre el botón llamará a la función -->
    <button
      (click)="preloadAllModules()"
      (mouseover)="preloadAllModules()"
      mat-button
      mat-flat-button
      color="primary"
    >
      Preload All Modules
    </button>
  </div>
</div>
